@{
    ViewData["Title"] = "Bursa Büyükşehir Belediyesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Slider.css"  rel="stylesheet"/>
@await Component.InvokeAsync("Slider")
<div class="col-12 Mobile bg-light">
    <h3 class="text-center">Çalışmalarımız</h3>
    <div class="container-fluid">
        <div class="row d-flex justify-content-around">
            <div class="col-sm-2 pt-3 text-center bg-light border-bottom">
                <div class="icon">
                    <img src="https://www.kestel.bel.tr/upload/rakamlarlabelediyemiz/2022_11_23-Y28lm1LpNGpzeALzsoh2.png" width="50" height="50" />
                </div>
                <div class="pt-2">
                    <b>Nüfus</b>
                    <p>3000000</p>
                </div>
            </div>
            <div class="col-sm-2 pt-3 text-center bg-light border-bottom">
                <div class="icon">
                    <img src="https://www.kestel.bel.tr/upload/rakamlarlabelediyemiz/2022_11_23-hynsPlELUDFbD12R7YhV.png" width="50" height="50" />
                </div>
                <div class="pt-2">
                    <b>Park</b>
                    <p>380</p>
                </div>  
            </div>
            <div class="col-sm-2 pt-3 text-center bg-light border-bottom">
                <div class="icon">
                    <img src="https://www.kestel.bel.tr/upload/rakamlarlabelediyemiz/2022_11_23-LiUjpb2BmCS4KbPucutB.png" width="50" height="50" />
                </div>
                <div class="pt-2">
                    <b>Tesis</b>
                    <p>65</p>
                </div>
            </div>
            <div class="col-sm-2 pt-3 text-center bg-light border-bottom">
                <div class="icon">
                    <img src="https://www.kestel.bel.tr/upload/rakamlarlabelediyemiz/2022_11_23-hR23f8YcLFQM5ZcaM9wY.png" width="50" height="50" />
                </div>
                <div class="pt-2">
                    <b>Yeşil Alan</b>
                    <p>3.200.000</p>
                </div>
            </div>
            <div class="col-sm-2 pt-3 text-center bg-light border-bottom">
                <div class="icon">
                    <img src="https://www.kestel.bel.tr/upload/rakamlarlabelediyemiz/2022_11_23-xQc4YDnRrFpNLSsnoHwl.png" width="50" height="50" />
                </div>
                <div class="pt-2">
                    <b>Asfalt</b>
                    <p>5.800.000</p>
                </div>
            </div>
        </div>
    </div>
</div>